.form-group {
	position: relative;
	margin-top: 2.5rem;
}

.form-group .form-control {
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	background-color: transparent;
	padding: 0 0 10px;
	resize: none;
	border-radius: 0;
	outline: none;
	box-shadow: none;
	margin-bottom: 10px;
	color: #000;
}
.form-group.active::after {
	transform: scaleX(1);
}

.form-group::after {
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	position: absolute;
	transform: scaleX(0);
	transition: transform 300ms cubic-bezier(0, 0, 0.2, 1) 0ms;
	border-bottom: 2px solid var(--blue);
	pointer-events: none;
}

.form-group label {
	color: #000;
	position: absolute;
	top: 0rem;
	left: 0;
	right: 0;
	cursor: text;
	-webkit-transition: 0.2s ease-out;
	transition: 0.2s ease-out;
	display: inline-block;
	margin-bottom: 5px;
	font-weight: 400;
	text-transform: uppercase;
}

/*.form-group .form-control:focus {
    box-shadow: 0 1px 0 0 var(--blue);
    -webkit-box-shadow: 0 1px 0 0 var(--blue);
    -moz-box-shadow: 0 1px 0 0 var(--blue);
    -ms-box-shadow: 0 1px 0 0 var(--blue);
}*/

input.form-control:focus:not([readonly]) + label,
textarea.form-control:focus:not([readonly]) + label,
.form-group.active label {
	color: var(--blue) !important;
	top: -1.5rem;
	font-weight: 700;
}
